**/__pycache__
**/__MACOSX
**/output
**/zip

**/train
**/val
**/test
**exp**

datasets/nuscenes/v1.0-trainval_full/
datasets/argoverse/argoverse-api
datasets/interaction_dataset/multi_agent

results

*.pyc
*.out
*.err
*.sh
